header nav {
    height: 80px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 5%;
}
header nav h1 {
    font-size: 2em;
}
header nav ul {
    display: flex;

}
header nav ul li a {

}